.parent-ul {
    padding-left: 0px !important;
}

.tree {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree li {
    list-style-type: none;
    margin: 0;
    /*  padding: 11px 0px;*/
    /*padding:10px 5px 0 5px;*/
    position: relative;
    /*margin-right: 5px;*/
}

.tree li::before,
.tree li::after {
    content: '';
    left: -11px;
    position: absolute;
    right: auto
}

.tree li::before {
    border-left: 1px solid #addbf2;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
}

.tree li::after {
    border-top: 1px solid #addbf2;
    height: 20px;
    top: 30px;
    width: 25px
}

.tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*border:1px solid #999;*/
    background-color: #e7edf3;
    border-radius: 3px;
    display: inline-block;
    padding: 7px 11px;
    text-decoration: none
}

.tree li.parent_li > span {
    cursor: pointer;
    height: auto;
    width: 35px;
    background-color: #addbf2;
    border-radius: 50%;
    display: inline-block;
    margin: 12px;
    /* margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;*/
}

.tree > ul > li::before,
.tree > ul > li::after {
    border: 0
}

.tree li:last-child::before {
    height: 30px
}

.tree li.parent_li > span:hover,
.tree li.parent_li > span:hover + ul li span {
    background: #b1d9f2;
    /*border:1px solid #588fba;*/
    color: #000
}

.kpi-content {
    padding: 8px 0px;
}

.content-ul {
    padding-left: 0px !important;
}

.content-li {
    padding-right: 10px;
    padding-bottom: 10px;
    /*margin: 5px 0px 5px 0px !important;*/
}

.content-li::after {
    border-top: 0px !important;
}

.last_li::before {
    border-left: 0px !important;
}

.kpi-detail-view {
    height: 60px;
}

.user {
    display: inline-block;
    width: 42px;
    position: absolute;
    left: 0;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-right: 10px;
}

.kpi-responsible {
    width: 10%;
}

.dot-circle {
    width: 25px;
    height: 25px;
    border-radius: 30px !important;
}

.kpi-analysis {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.kpi-analysis img:hover {
    opacity: 0.5;
}

.main-pane {
    background-color: #e7edf3 !important;
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    align-items: center !important;
}

.quad-chart {
    background-color: #f36526 !important;
    padding: 0px !important;
    box-shadow: 0px 7px 20.88px 3.12px rgba(217, 74, 6, 0.23);
}

.one-min-chart {
    background-color: #0454a0 !important;
    padding: 0px !important;
    box-shadow: 0px 7px 20.88px 3.12px rgba(0, 84, 165, 0.21);
}

.fishbone-chart {
    background-color: #fcb74f !important;
    padding: 0px !important;
    box-shadow: 0px 7px 20.88px 3.12px rgba(219, 136, 14, 0.27);
}

.process-plan-chart {
    background-color: #43b1a5 !important;
    padding: 0px !important;
    box-shadow: 0px 7px 20.88px 3.12px rgba(9, 177, 167, 0.25);
}

.mind-map-chart {
    background-color: #c854a4 !important;
    padding: 0px !important;
    box-shadow: 0px 7px 20.88px 3.12px rgba(199, 53, 165, 0.28);
}

.d8-chart {
    background-color: #3845aa !important;
    padding: 0px !important;
    box-shadow: 0px 7px 20.88px 3.12px rgba(49, 39, 170, 0.28);
}

.pre-details {
    display: flex !important;
    width: 40%;
}

.pre-details-actual {
    margin-right: 10px;
    background-color: white !important;
    width: 50%;
    font-size: 11px;
}

.pre-details-goal {
    background-color: white !important;
    font-size: 11px;
    width: 50%;
    font-size: 11px;
}

.boldFont_15 {
    font-weight: bold;
    font-size: 15px;
}

.downTrend {
    color: #ca3827;
}

.jumbtron-top {
    padding-left: 1%;
    background-color: white;
}

.main-plain {
    background-color: #def2fd;
    min-height: 100vh;
}


/* The container */

.custom-check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.custom-check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.custom-check-container:hover input ~ .checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.custom-check-container input:checked ~ .checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.custom-check-container input:checked ~ .checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.custom-check-container .checkmark:after {
    left: 9px;
    top: 2px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.card-tabs-title {
    background-color: #145994;
    padding: 15px;
    display: flex;
    align-items: center;
}

.card-tabs-title h1 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}

.parent-bg {
    background-color: #fff;
    border-top: 1px solid #cfd1d2;
    border-bottom: 1px solid #cfd1d2;
}

.data-point-title {
    background-color: #145994;
    color: #fff;
    /* padding-top: 3px;
 padding-bottom: 3px;*/
}

.data-point-title .table > thead > tr > th {
    border-bottom: inherit;
}

.data-point-title .table {
    margin-bottom: 0px;
}

.data-point-title .table > thead > tr > th {
    padding: 12px;
    font-weight: 400;
    font-size: 14px;
    padding: 15px;
}

.data-point-title th {
    text-align: center;
}

.data-point-title .table {
    width: 88%;
    margin-left: auto;
}

.right-table-holder {
    background-color: #f5fafd;
}

.environment-table .red {
    background-color: #fbcab9;
    /*border:1px solid #bb5831;*/
    border-top: 1px solid #bb5831;
    border-bottom: 1px solid #bb5831;
    border-left: 1px solid #bb5831;
    text-align: center;
}

.environment-table .green {
    background-color: #e6f1b9;
    border-top: 1px solid #afc44d;
    border-bottom: 1px solid #afc44d;
    border-left: 1px solid #afc44d;
    /*  border:1px solid #afc44d;*/
    text-align: center;
}

.environment-table .white {
    background-color: #fff;
    /* text-align: center;*/
    /*  1px solid #ddd*/
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.environment-table .orange {
    background-color: #f9eda1;
    /*   border:1px solid #d1c43a;*/
    border-top: 1px solid #d1c43a;
    border-bottom: 1px solid #d1c43a;
    border-left: 1px solid #d1c43a;
    text-align: center;
}

.environment-table .table {
    margin-bottom: 1px;
}

.environment-table .table-bordered > tbody > tr > td {}

.environment-table {
    padding-top: 0px;
    padding-bottom: 0px;
}

.environment-table .table > tbody > tr > td {
    padding: 6px;
}

.left-drop-holder {
    background-color: #f5fafd;
}

.data-top-bar {
    background-color: #fff;
}

.data-top-bar {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.select-dept {
    margin-left: 10px;
}

.top-asset-right {
    display: flex;
    margin-left: auto;
}

.checkbox-holder {
    display: flex;
    margin-right: 10px;
    /*margin-top: 6px;*/
    align-items: center;
}

.checkbox-holder label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-right: 20px;
}

.checkbox-holder .checkmark {
    top: -2px;
}

.date-pick {
    margin-top: 5px;
    margin-right: 10px;
}

.chart-name h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qualityt-table {
    padding-top: 55px;
    padding-bottom: 10px;
}

.tree li .parent-bg .parent_li,
.tree li .parent-bg .parent_li .content-li {
    display: none;
}

.content,
.content1,
.content2,
.content3,
.content4,
.content5,
.content6,
.content7,
.content8,
.content9 {
    /*  visibility: hidden;*/
    display: none;
}

.content.active,
.content1.active,
.content2.active,
.content3.active,
.content4.active,
.content5.active,
.content6.active,
.content7.active,
.content8.active,
.content9.active {
    /*  visibility: visible;*/
    display: block;
}


/**/

.datapoint-topnav .navbar-inverse .navbar-collapse {
    background-color: #55ace1;
}

.datapoint-topnav .navbar-inverse {
    background-color: #55ace1;
    border-color: #55ace1;
    margin-bottom: 0px;
}

.datapoint-topnav .navbar {
    border-radius: 0px !important;
}

.datapoint-topnav .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.datapoint-topnav .navbar-inverse .navbar-nav > li > a:hover {
    color: #d7e9f3;
}

.datapoint-topnav i {
    margin-right: 5px;
}

.datapoint-topnav .navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus{
        background: white !important;
        color: #55ace1 !important;
}

.datapoint-topnav .dropdown-menu {
    min-width: 100%;
}

.data-point-logo img {
    width: 110px;
    height: 41px;
}

.data-point-logo {
    margin-left: auto;
    margin-right: 15px;
}

.top-bar-sec {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
}

.logo-brand {
    display: flex;
    align-items: center;
}

.trp-logo {
    margin-left: 15px;
}

.copy-right {
    margin-left: 15px;
}

.copy-right p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0px;
    color: #726f78;
    margin-top: 2px;
}

.footer-sec {
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    bottom: 0;
    background: #ffffff;
    z-index: 999;
}

.footer-navsec .navbar {
    margin-bottom: 0px;
    min-height: 0px;
}

.footer-navsec .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer-navsec .navbar-nav > li > a:hover {
    color: #65a4e1;
}

.footer-navsec .navbar-nav > li > a {
    color: #41709e;
}

.footer-navsec .nav > li > a:focus,
.nav > li > a:hover {
    background-color: inherit;
    color: #41709e;
}

.footer-powered {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.footer-powered p {
    font-size: 13px;
    font-weight: 400;
    color: #726f78;
    margin-top: 2px;
    margin-right: 6px;
}

.footer-powered img {
    width: 34px;
    height: 18px;
}

.right-table-holder {
    margin-bottom: 20px;
}

.footer-navsec .navbar-nav > li > a {
    font-size: 13px;
}

.datapoint-topnav .navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #55ace1;
}

.datapoint-topnav .navbar-inverse .navbar-toggle {
    border-color: #deeaf1;
}

.datapoint-topnav .navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #d1e4ef;
}

.datapoint-topnav .navbar-collapse {
    padding-left: 0px;
}

.date-pick .form-control {
    height: 30px;
}


/*media*/


/* iphone 5s */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

    /*26-04-2021*/
    .main-pane {
        display: inherit !important;
    }

    .pre-details-actual {
        width: 100%;
    }

    .pre-details-goal {
        width: 100%;
    }

    .kpi-analysis {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .checkmark {
        height: 20px;
        width: 20px;
    }

    .main-plain {
        min-height: 71vh;
    }

    /*26-04-2021*/
    .checkbox-holder label {
        margin-right: 5px;
    }

    .data-top-bar {
        display: inherit;
    }

    .top-asset-right {
        display: inherit;
    }

    .select-dept {
        margin-bottom: 15px;
    }

    .checkbox-holder {
        margin-bottom: 15px;
    }

    .data-top-bar {
        padding: 10px;
    }

    .chart-name h3 {
        text-align: center;
    }

    .copy-right p {
        text-align: center;
    }

    .footer-navsec .navbar {
        text-align: center;
    }

    .footer-powered {
        display: flex;
        justify-content: center;
    }

    .datapoint-topnav .navbar-collapse {
        padding-left: 15px;
    }

    .datapoint-topnav .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #1e1d1d;
        background: #fff;
    }
}


/*    iphone 6-7-8s*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .copy-right p {
        text-align: center;
    }

    .footer-navsec .navbar {
        text-align: center;
    }

    .footer-powered {
        display: flex;
        justify-content: center;
    }
}


/*phone 6++*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .copy-right p {
        text-align: center;
    }

    .footer-navsec .navbar {
        text-align: center;
    }

    .footer-powered {
        display: flex;
        justify-content: center;
    }
}


/*iphone x*/

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .copy-right p {
        text-align: center;
    }

    .footer-navsec .navbar {
        text-align: center;
    }

    .footer-powered {
        display: flex;
        justify-content: center;
    }

    .main-plain {
        min-height: 65vh;
    }
}


/*    ipad air*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .copy-right p {
        text-align: center;
        margin-bottom: 10px;
    }

    .footer-navsec .navbar {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .footer-powered {
        display: flex;
        justify-content: center;
    }
}


/*    ipad pro*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {}


/*    ipad pro 10.5*/

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {}


/*    ipad pro 12.9*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {}


/*    non-retina */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {}

.arrowdown {
    float: right;
}

.arrow-red {
    color: #e1211e;
    font-size: 18px;
    top: 19px;
    right: 13px;
    position: absolute;
    cursor: pointer;
}

.arrow-red:hover {
    color: #fb4946;
}

.arrow-green:hover {
    color: #2fd209;
}

.datatitle-width {
    width: 13%;
}

.right-table-holder h4 {
    font-size: 13px;
    font-weight: 700;
    margin: 22px;
}

.arrow-green {
    font-size: 18px;
    top: 19px;
    right: 13px;
    position: absolute;
    color: #23b700;
    cursor: pointer;
}

.cardtab-fa {
    margin-left: auto;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.cardtab-fa i {
    cursor: pointer;
}

.priority .checkbox {
    left: -30px;
    position: absolute;
    top: 7px;
}

.custom-actual {}

.custom-actual .table > tbody > tr > td {
    padding: 19px;
}

.environment-table.custom-actual {
    padding-bottom: 1px !important;
}

.data-align {
    padding: 6px 6px 6px 22px !important;
}

.en-title {
    background: #f5fafd;
    padding: 11px;
    width: 100%;
    border-bottom: 1px solid #cfd1d2;
}

.en-title h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 0 !important;
    padding: 11px;
}

/*--- quadchart designs ---*/
.t-container {
    background-color: #ffffff;
    /*border-radius: 8px;*/
    margin-top: 20px;
    max-height: 510px;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
}

.t-title {
    font-size: 14px;
    padding: 15px 13px 15px 13px;
    background: #145994;
    color: #e8ecf0;
    /*margin-bottom: 14px;*/
    font-weight: 500;
}

/*        .table-responsive{
            padding: 0px 10px 0px 10px !important;
        }*/
td,
th {
    /*text-align: center;*/
    vertical-align: middle !important;
    padding: 15px 8px 15px 8px !important;
}

td {
    /*color: #636363;*/
    color: #000000;
    font-size: 13px;
}

.r-last .col-12 {
    margin-bottom: 20px;
}

.title-right {
    float: right;
    display: inline-flex;
}

.t-title label {
    font-weight: 500 !important;
    margin-bottom: 0px;
}

th {
    /*background: #00305717;*/
    /*color: #155a95;*/
    /*font-size: 12px;*/
    /*text-align: left !important;*/
    color: #003058 !important;
    background: #f3f3f3a1;
}

.action-table tfoot {
    background-color: #d9e4ee !important;
    font-size: 14px;
    font-weight: 700;
}

.action-table tfoot td {
    color: #424242;
    position: sticky;
    bottom: 0;
    z-index: 1;
    /*background-color: #d9e4ee !important;*/
    /*background-color: #9bd6ea33 !important;*/
    background-color: #ebf7fb !important;
}

.d-count {
    color: #005f8e;
    background: #0088cc52;
    padding: 10px;
    font-size: 14px;
}

/*        .count-description{
          text-align: left;
          border-radius: 3px;
          white-space: normal;
          font-size: 14px;
        }*/
@media(max-width: 490px) {
    .d-count {
        width: 53%;
        margin-right: 4px;
    }

    .last-row .col-lg-6 .data-frame {
        margin-bottom: 12px !important;
    }
}

@media (min-width: 992px) {

    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        padding-left: 7px !important;
        padding-right: 7px !important;
    }

    .left-set {
        padding-right: 15px !important;
    }
}

.scale-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8080802e;
    padding: 4px;
    border-radius: 4px;
    width: 30%;
    /* margin: 5px; */
    float: right;
}

.btn-cmt {
    font-size: 12px;
    padding: 5px 15px 5px 15px;
}

.modal-title i {
    margin-right: 5px;
}

#add-comment textarea,
#add-detail textarea {
    margin-top: 17px;
}

.detail-data-table td {
    text-align: center;
}

.progress .progress-bar {
    min-width: 2em;
}

.progress {
    margin: 0px;
    max-width: 245px;
    border-radius: 0px !important;
    width: 100%;
    background-color: #002e3e1f;
    box-shadow: none !important;
}

.progress1 {
    width: 40px;
    height: 40px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress1:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress1 > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress1 .progress-left {
    left: 0;
}

.progress1 .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #55ace1;
}

.progress1 .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress1 .progress-right {
    right: 0px;
}

.progress1 .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress1 .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300;
}

.progress1 .progress-value span {
    font-size: 12px;
    text-transform: uppercase;
}

.trend-table {
    font-size: 13px;
    text-align: center;
    border: none !important;
}

.trend-table td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.t-highlight,
.t-highlight td {
    background: #55ace1;
    color: white;
    font-weight: 700;
    width: 100px;
    position: sticky;
    left: 0;
    border-left: none;
}

.title-icon {
    color: white;
    margin-left: 15px;
    margin-right: 3px;
}

.title-icon:hover {
    color: white;
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.scale-input input:focus {
    box-shadow: none;
}

.scale-input input {
    height: 27px;
    border: 1px solid #00000026
}

.scale-input input::placeholder {
    font-size: 10px;
    font-style: italic;
    padding: 1px;
}

.scale-input .input-group-addon {
    color: #145994;
}

.modal-footer .btn + .btn {
    /*margin-bottom: 4px !important;*/
}

.modal-footer {
    margin-top: 15px !important;
}

.text-center {
    text-align: center !important;
}

.table {
    margin-bottom: 0px !important;
}

.btn-add-data {
    padding: 0px 5px;
    margin: 0px 2px 0px 2px;
}

.btn-add-data:hover,
.btn-add-data:focus {
    outline: none !important;
}

.btn-cmt i {
    margin-right: 8px;
}

.detail-data-table th {
    text-align: center;
}

/*            .detail-edit-btn{
              padding: 5px;
              background: #80808026;
              color: #000000a3;
            }*/
/*            .detail-edit-btn i{
              padding: 4px 5px;
            }*/
.progress1[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
}

.progress1[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
}

.progress1[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
}

.progress1[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
}

.progress1[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
}

.progress1[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
}

.progress1[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
}

.progress1[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
}

.progress1[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress1[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
}

.progress1[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress1[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.5s;
}

.progress1[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress1[data-percentage="70"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
}

.progress1[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress1[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
}

.progress1[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress1[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.5s;
}

.progress1[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress1[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(36);
        transform: rotate(36deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(72);
        transform: rotate(72deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(108);
        transform: rotate(108deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(144);
        transform: rotate(144deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180);
        transform: rotate(180deg);
    }
}

.table-head {
    background: #55ace1 !important;
    color: #ffffff !important;
    font-weight: 700;
}

.t-week {
    color: #ffffff !important;
}

.trend-graph {
    text-align: center;
    /* margin-top: 20px; */
    height: 250px;
}

.current-actions {
    max-height: 508px;
}

.current-actions .current-table {
    max-height: 456px;
}

.current-actions th,
.aci th,
.detail-data th {
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 999;
    font-size: 11px !important;
}

.aci .table-responsive {
    max-height: 400px;
}

/*            .count-details-show{
              padding: 10px;
              background: #eaeaea94;
              border-radius: 10px;
            }*/
.detail-data,
.detail-data-graph {
    height: 400px;
}

.detail-data .table-responsive {
    max-height: 350px;
}

.scale-input-label {
    margin-right: 10px;
    margin-left: 5px;
    background: none;
    color: black;
    font-size: 11px;
}

.scale-input input {
    border: 1px solid #00000026;
    border-radius: 3px !important;
}

.week-range {
    background-color: #bbdef3 !important;
}

.t-week {
    color: #145994 !important;
}

.enter-label {
    margin-top: 12px;
}

.btn-cmt {
    border: none !important;
    font-size: 12px;
    padding: 9px 15px;
}

.trend-table-container {
    padding: 10px !important;
}

.trend-btns {
    padding: 9px;
}

.table-main {
    text-align: left !important;
    font-weight: bold;
    color: #145994;
}

.progress-section {
    display: flex;
    align-items: center;
}

.progress-section p {
    margin-bottom: 0px;
    margin-right: 20px;
}

/*            .p-10{
              padding: 10px !important;
              min-width: 212px;
            }*/
/*            .count-show{
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              padding-bottom: 6px;
              border-bottom: 1px solid #00000033;
            }*/
.table-hover > tbody > tr:hover {
    background-color: #55ace10f;
}

/*            @media only screen and (max-width: 1400px){
              .count-details-show{
                max-width: 295px;
              }
            }
            @media only screen and (min-width: 1400px){
              .p-10{
                max-width: 111px;
                width: 260px;
              }
              .count-details-show{
                width: 250px;
              }
            }*/
.table-icons {
    display: inline-flex;
}

.table-icons i,
.add-project i,
.clear-filter i {
    margin-right: 8px;
}

.add-project {
    padding: 2px 15px;
    font-size: 11px;
}

.comment-display {
    min-width: 150px;
    max-width: 200px;
    max-height: 300px;
    border: 1px solid #ececec;
    border-radius: 2px;
    background: #ffffff;
    display: none;
    position: absolute;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
    padding: 5px;
    font-size: 11px;
    color: #1f1f1f;
    text-align: left;
}

.cd-title {
    color: #145994;
    text-align: left;
    font-size: 14px;
    padding: 4px 10px;
    background: #ebf7fb;
}

/*.d-count:hover ~.comment-display{
              display: block;
            }*/
.cmt .title-right {
    color: #737373;
    font-size: 9px;
}

.cmt {
    border: 1px solid #e5e6e6;
    margin: 4px 4px 5px 0px;
    padding: 2px;
    border-radius: 3px;
}

.cmt span {
    color: #145994;
}

.cmt p {
    padding: 1px 0px 0px 9px;
    font-size: 10px;
    white-space: normal;
}

.cmt .badge-primary {
    font-size: 10px;
    background: #145994;
    color: white;
}

.cd-messages {
    max-height: 145px;
    overflow-y: auto;
}

.btn-add-cmt {
    padding: 1px;
    font-size: 10px;
    float: right;
}

.cmt-input input,
.cmt-input textarea {
    margin-top: 2px;
    font-size: 11px;
    padding: 2px;
}

.cmt-input input {
    height: 25px;
    width: 65px;
}

.cmt-input {
    margin-top: 5px;
    border-top: 1px solid #e6e6e6;
    padding: 6px 0px 0px 0px;
}

.btn-send {
    float: right;
    padding: 2px 14px;
    font-size: 12px;
    margin-top: 5px;
    width: 100%;
}

#add-project .col-12 {
    margin-bottom: 10px;
}

/*--- quadchart designs ---*/
/*--- 1 minute manager design --*/
.one-graph-section {
    padding: 20px;
}

.img-fluid {
    max-width: 100%;
}

.graph-analysis {
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
    padding: 0px 0px 5px 0px;
    background: #f3f3f3;
    ;
    padding: 0px 0px 5px 0px;
    height: 107px;
}

.graph-title {
    color: #145eb3;
    font-size: 15px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    background: #7cb5ec52;
}

.status-default {
    width: 50px;
    font-size: 23px;
    background: #a7a7a7;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    padding: 13px;
    height: 50px;
}

.status-target {
    width: 55px;
    font-size: 23px;
    background: #0ab1a7;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    padding: 13px;
    height: 55px;
}

.status-req-imp {
    width: 55px;
    font-size: 23px;
    background: #ffb850;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    padding: 13px;
    height: 55px;
}

.status-maj-imp {
    width: 55px;
    font-size: 23px;
    background: #ca2829;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    padding: 13px;
    height: 55px;
}

.status-btns {
    margin-left: 15px;
}

.status-btns button {
    margin-right: 20px;
    outline: none !important;
    border: none;
    margin-top: 6px;
}

.status-btns button:hover,
.status-btns button:active {
    color: white;
    box-shadow: 0px 0px 3px 1px #9e9e9e;
    outline: none !important;
}

.graph-avg {
    color: #6b6b6b;
    font-size: 25px;
    font-weight: 700;
}

.one-container {
    background-color: #ffffff;
    padding-bottom: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
}

.om-comment-section label {
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    background: #145994;
    padding: 10px 1px 10px 10px;
    color: white;
    font-weight: 500;
    margin-bottom: 0px;
}

.feature1-section {
    margin: 0px 18px 8px 18px;
    padding: 13px 19px 13px 19px;
    border: 1px solid #ececec;
    border-radius: 2px;
}

.om-comment-section {
    margin-bottom: 20px;
}

.om-comment-section textarea {
    border: 0;
}

.text-input-section {
    background: #f3f3f3;
    padding: 10px;
}

.label-status {
    color: #807373;
    font-size: 13px;
}

.btn-preview i,
.btn-submit i,
.btn-cancel,
.btn-cancel i {
    margin-right: 6px;
}

.status-section {
    min-height: 112px;
}

#comment-preview .modal-header,
#selecticon .modal-header,
.modal-header {
    padding: 0px !important;
}

.modal-header .close {
    padding: 13px;
}

.feature-btn {
    border-top: 1px solid #80808033;
    margin-left: -6px;
    padding-top: 18px;
    margin-right: -6px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: 0.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 44%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    /*padding: 15px;*/
    position: relative;
    font-size: 12px;
}

.timeline .timeline-comment {
    margin: 4px;
    padding: 10px;
    background: #1459940f;
    border-radius: 2px;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    position: absolute;
    top: 26px;
    left: 51%;
    margin-left: -19px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    padding: 3px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    color: #145994;
    font-size: 15px;
    margin-bottom: 1px;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 768px) {
    ul.timeline:before {
        left: 29px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .clear-filter b {
        display: none !important;
    }

    .clear-filter i {
        margin-right: 0px !important;
    }
}

.title-nav {
    margin-left: 15px;
    background: #55ace1;
    color: white !important;
    text-decoration: none !important;
    padding: 1px 10px 1px 10px;
    border-radius: 4px;
}

@media(max-width: 490px) {
    .feature-btn button {
        float: none !important;
        margin-top: 10px;
    }
}

.modal-header .close {
    color: #ffffff;
    opacity: 0.7;
}

.analysis-content {
    display: flex;
    align-items: center;
    /*Aligns vertically center */
    justify-content: center;
    height: 68%;
}

/*--- 1 minute manager design --*/
/*--- x-matrix design --*/
.v-data span {
    writing-mode: vertical-rl;
    color: #00588e;
    height: 100%;
    max-height: 370px;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    white-space: normal;
    padding-top: 2px;
}

.v-data {
    padding: 0px !important;
    background: #e3f0f8;
    border: 1px solid #139bd9 !important;
}

.center-data {
    min-width: 420px !important;
    /*          min-height:420px;
          max-width: 600px;*/
    padding: 0px !important;
}

.t-data span {
    color: #00588e;
    padding-right: 10px;
}

.t-data {
    padding: 0px !important;
    background: #e3f0f8;
    border: 1px solid #139bd9 !important;
}

.v-data .t-data-descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70px;
}

.t-data-descr {
    padding: 0px 10px;
    font-size: 12px;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
}

.t-data-loss {
    color: #ff6c6c;
    border: 1px solid #b6d9ed;
}

.t-data-profit {
    color: #62d361;
    border: 1px solid #b6d9ed;
}

.t-data-stable {
    color: #feb74f;
    border: 1px solid #b6d9ed;
    font-size: 13px !important;
    padding: 4px 5px 2px 5px !important;
}

.t-data-descr i {
    font-size: 20px;
    padding: 0px 5px;
    border-radius: 6px;
    background: #ffffff;
}

.table-x-matrix {
    background: #ffffff;
    /*margin-top: 10px;*/
    padding: 15px;
}

.casual-rel {
    color: #464646;
    border: 1px solid #a1a1a1 !important;
    font-size: 25px;
}

.pri-rel {
    color: #ee1c25;
    font-size: 25px;
    border: 1px solid #ee1c25 !important;
}

.pri-rel-reg {
    color: #459eea;
    font-size: 25px;
    border: 1px solid #459eea !important;
}

.key-head {
    color: #00588e;
    font-size: 20px;
    font-weight: 500;
}

.t-key-set {
    padding: 15px;
    background: #ffffff;
}

.t-key {
    padding-top: 12px;
}

.t-key-desc span {
    font-size: 16px;
    vertical-align: middle;
    margin-left: 10px;
}

.table-x {
    background: #f6f6f6;
}

.t-status {
    background: white;
    text-align: center;
    padding: 10px !important;
}

.t-data-descr-2 {
    font-weight: 800 !important;
    font-size: 11px;
    font-family: -webkit-pictograph;
    text-align: right;
}

.status-icon {
    text-align: center;
}

.status-icon i {
    margin: auto;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border: 1px solid #ddd;
    border-bottom: 1px groove #ddd;
    border-right: 1px groove #ddd;
}

.t-key-set i {
    border: none !important;
    vertical-align: middle;
}

tr.set1 > td,
tr.set2 > td {
    padding: 2px !important;
}

.status-div {
    align-self: center;
}

.t-cell {
    width: 70px;
    height: 70px;
}

.v-data .status-icon {
    padding-top: 8px !important;
}

.key-section {
    vertical-align: top !important;
    padding: 0px !important;
    background: #ffffff;
}

.t-descr {
    margin-right: 10px;
}
.center-data text{
    text-anchor: middle; /* align center */
    dominant-baseline: middle; /* vertical alignment fix */
}
.x-matrix-title{
    margin-top: 20px !important;
}
#add-x-matrix-data .input-group-addon{
    padding: 0px !important;
}
#add-x-matrix-data select{
    appearance:none;
}
#add-x-matrix-data .input-group-addon .btn{
    height: 32px;
    color: #145994;
    font-size: 16px;
    width: 40px;
}
#add-x-matrix-data .nav-section{
    border:1px solid #e2e2e2;
}
.x-selected-data{
    list-style: none;
    padding: 7px 1px;
    /* border: 1px solid #eaeaea; */
    border-radius: 5px;
    background: #f7f7f724;
    padding: 0px;
    margin-bottom: 0px !important;
    max-height: 200px;
    overflow-y: auto;
}
.x-selected-data li:hover{
    background-color: #fbfbfb;
    border-radius: 3px;
}
.x-selected-data li::marker{
    color: #145994;
    font-size: 15px;
}
.x-list-set{
    padding: 10px;
    background:#f3f4f6;
}
#add-x-matrix-data .nav-item{
    vertical-align: middle;
    border-right:1px solid #e4dede;
}
#add-x-matrix-data .nav-item:nth-child(5){
    border-right: 0px !important;
}
#add-x-matrix-data .nav-item.active .nav-link{
   color: #ffffff !important;
    font-weight: 500;
    font-size: 12px;
    border-bottom: none !important;
    background: #145994;
}
#add-x-matrix-data .nav-item.active{
    background-color: #55ace1 !important;
}
#add-x-matrix-data .nav-tabs{
 background-color: #f9f9f9 !important;
}
@media only screen and (max-width: 768px) {
   #add-x-matrix-data .nav-item{
        width: auto !important;
    }
    #add-x-matrix-data .nav-tabs.nav-justified{
        display: inline-flex !important;
        width: 100% !important;
        overflow-x: scroll;
    }
}
/*--- x-matrix design --*/
/*--- improvement priority design --*/
.custom-form {
    padding: 20px;
    /*background: #f5f5f5;*/
}
.x-selected-data p{
    margin: 5px !important;
}
.x-selected-data li{
    font-size: 12px;
    padding: 10px 15px;
    border-bottom: 1px solid whitesmoke;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    place-items:center;
    background-color: #ffffff;
    margin-bottom: 5px;
}
.remove-x-li{
    border: none;
    background-color: #ffffff00 !important;
    width: 26px;
    height: 26px;
    /* border: 1px solid; */
    font-size: 16px;
    color: #de2525;
    border-radius: 4px;
}
.refresh-x-li{
    border: none;
    background-color: #ffffff00 !important;
    width: 26px;
    height: 26px;
    /* border: 1px solid; */
    font-size: 16px;
    color: #008000d9;
    border-radius: 4px;
}
.custom-form .col-xl-2,
.custom-form .col-xl-4 {
    margin-top: 10px;
}

.custom-form label {
    font-size: 13px;
    color: #313131;
    font-weight: 500;
    width: 100%;
}

.material-switch {
    border: none !important;
    box-shadow: none !important;
    background: none;
    text-align-last: right;
    padding-right: 0px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.custom-form input,
.custom-form select {
    border: 1px solid #e2e2e2;
    /*background:aliceblue;*/
}

.d-interval {
    margin-bottom: 27px;
    padding: 15px 25px;
    background: #f2f2f2;
    border-radius: 6px;
}

.d-interval b {
    margin-right: 30px;
}

.d-interval span {
    font-size: 16px;
    color: #145994;
}

.d-interval .row {
    margin-top: 0px !important;
    display: flex;
    place-items: center;
}

.btn-interval {
    background: #ffffff;
    color: #145994;
    font-size: 13px !important;
    width: 104px;
    border-radius: 100px;
    margin: 5px 10px 5px 0px;
}

.btn-interval:active,
.btn-interval:focus,
.btn-interval:hover {
    background: #145994 !important;
    color: white !important;
    outline: none !important;
}

.row-last {
    margin-bottom: 20px;
}

.dir-up {
    color: #0dac0c;
    background: #26e3242e;
    border: 1px solid #61dd60;
    width: 65px;
}

.dir-down {
    color: #e95050;
    background: #ffe6e6;
    border: 1px solid #e950504a;
    width: 65px;
}

.t-container.form-page {
    max-height: inherit !important;
}

.edit-icon {
    font-size: 18px;
    color: #5bc0de;
    margin-right: 10px;
}

.delete-icon {
    font-size: 18px;
    color: #ea6050;
}

.btn-success i {
    margin-right: 4px;
}

.form-footer {
    width: 100%;
    text-align: center;
}

.toggle-box {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    padding: 10px;
}

.btn-select-icon {
    box-shadow: none !important;
    background: #f4f4f4;
    color: #5c5c5c !important;
    max-width: 200px;
}

.btn-select-icon:active,
.btn-select-icon:focus {
    outline: none !important;
}

.icon-preview {
    text-align: center;
    margin-bottom: 20px;
}

.i-preview {
    height: 80px;
    width: 80px;
}

.i-preview:active, .i-preview:focus, .i-preview:hover{
        box-shadow:0px 0px 3px 2px #d4d4d48a;
}
.select-icon-set {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .form-set.container {
        width: 630px;
    }
}

@media (min-width: 1200px) {
    .form-set.container {
        /*width: 1170px !important;*/
        width: 1120px !important;
    }
}

@media (max-width: 500px) {
    .d-interval b {
        display: block;
        margin-right: 0px;
        text-align: center;
    }

    .btn-interval {
        margin-top: 9px !important;
        display: block;
        margin: auto;
    }
}

.ip-table table tr td:first-child,
.ip-table table thead th:first-child,
.current-table table tr td:first-child,
.current-table table thead th:first-child,
.action-table table tr td:first-child,
.action-table table thead th:first-child,
.aci table tr td:first-child,
.aci table thead th:first-child {
    padding-left: 20px !important;
}

/*--- improvement priority design --*/
/*--- dashboard design --*/
.dashboard-set {
    padding: 10px;
    background: white;
    border-radius: 15px;
    margin-bottom: 20px;
    min-height: 700px;
}

.saftey-set {
    padding: 12px 10px;
    background: #51d0c5;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 55px;
    display: flow-root;
}

.quality-set {
    padding: 12px 10px;
    background: #0faaea;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 55px;
    display: flow-root;
}

.delivery-set {
    padding: 12px 10px;
    background: #5f80b3;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 55px;
    display: flow-root;
}

.badge-acc {
    color: #003056;
    background: white;
    border-radius: 4px;
    width: 30px;
    font-size: 18px;
    text-align: center;
    height: 30px;
    padding: 7px 5px;
    margin-right: 10px;

}

.badge-quality {
    color: #003056;
    background: white;
    border-radius: 4px;
    width: 30px;
    font-size: 18px;
    text-align: center;
    height: 30px;
    padding: 7px 5px;
    margin-right: 10px;
}

.badge-delivery {
    color: #003056;
    background: white;
    border-radius: 4px;
    width: 30px;
    font-size: 18px;
    text-align: center;
    height: 30px;
    padding: 7px 5px;
    margin-right: 10px;
}

.btn-quality,
.btn-delivery,
.btn-saftey {
    background: #ffffff00;
    color: white !important;
    font-size: 11px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0px;
    width: 17px;
    height: 17px;
    color: #00b5aa;
    margin-right: 2px;
    margin-top: 4px;
}

.ind-set {
    background: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.ind-set-progress .progress-bar {
    border-color: #55b53a;
}

.ind-set-percentage span {
    font-size: 12px;
    color: #003058a6;
}

.ind-set-title {
    padding: 12px 13px;
    /* background: #55ace1; */
    color: #003058;
    font-size: 12px;
}

.ind-set-title label {
    margin-bottom: 0px;
}

@media (min-width: 992px) {

    .five-cols .col-md-1,
    .five-cols .col-sm-1,
    .five-cols .col-lg-1 {
        width: 20%;
    }
}

.ind-set-progress {
    width: 50px;
    height: 50px;
    margin-right: 0px !important;
}

.ind-set-progress .progress-value {
    font-size: 11px !important;
    color: #003058 !important;
}

.ind-set-percentage {
    display: flex;
    place-items: center;
    padding: 10px 10px;
    background: #dde1e4;
    margin: 1px 10px;
    border-radius: 10px;
}

.ind-set-data {
    padding: 1px 12px;
    color: #003058a6;
    font-size: 12px;
}

.ind-data {
    border-bottom: 1px solid #cdd4da;
    padding: 9px 0px;
}

.ind-right-data {
    float: right;
    font-size: 14px;
    font-weight: 700;
    color: #003058;
}

.ind-up {
    color: #55b53a !important;
}

.ind-button {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.btn-like {
    background-color: #347ab8;
    color: #ffffff;
    font-size: 9px;
    padding: 5px;
    text-align: left;
    border-radius: 7px;
    width: 100%;
    margin-right: 10px;
}

.btn-like:hover,
.btn-like:active,
.btn-dislike:hover,
.btn-dislike:active {
    color: #ffffff !important;
    outline: none !important;
}

.btn-dislike {
    background-color: #d9544f;
    color: #ffffff;
    float: right;
    font-size: 9px;
    padding: 5px;
    text-align: left;
    width: 100%;
    border-radius: 7px;
}

.btn-count {
    border-left: 1px solid #ffffff50;
    /* padding-left: 0px; */
    padding-left: 3px;
    margin-left: 6px;
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 13px;
    justify-content: center;
}

.ind-button i {
    background: #ffffff40;
    padding: 5px;
    border-radius: 4px;
}

.saftey-set label {
    font-weight: 400;
}

.btn-set {
    float: right;
    display: flex;
    margin-top: 2px !important;
}

.com-kpi {
    float: right;
    color: #0bb1a5;
    width: 15px;
    height: 15px;
}

.ind-set-progress.no-progress .progress-bar {
    border-color: #d9544f;
}

.ind-down {
    color: #d9544f !important;
}

.dashboard-title {
    background: white;
    margin: 20px 0px 15px 0px;
    padding: 5px 12px;
    height: 41px;
    font-size: 13px;
    font-weight: 700;
    display: table;
    width: 100%;
}

.dashboard-title-date {
    float: right;
}

.dash-date {
    /*border: 1px solid #20476a;*/
    background: #ffff;
    font-size: 13px;
    font-weight: 700;
    width: 140px;
    color: #20476a;
    border-radius: 7px;
    height: 33px;
    text-align: center;
}

.dash-date label {
    margin-top: 6px;
}

.btn-dash-date {
    float: right;
    background-color: #e4e9ed;
    color: #464749 !important;
    height: 31px;
    border-radius: 5px;
    font-size: 16px;
    padding: 4px 10px;
}

.dashboard-title span {
    /*color:#003058;*/
    display: table-cell;
    vertical-align: middle;
}

.dashboard-set svg {
    margin-bottom: 5px !important;
}

.bottom-border {
    border-bottom: 1px solid #cdd4da;
    width: 100%;
}

.set-left {
    display: inline-flex;
    place-items: center;
    /*max-width: 55px;*/
}

.set-left p {
    margin: 0px !important;
    max-width: 55px;
    margin-left: 2px;
    line-height: 14px;
}

.btn-saftey:active,
.btn-saftey:focus {
    background-color: #0bb2a8;
    outline: none !important;
}

.btn-quality:active,
.btn-quality:focus {
    background-color: #0189bd;
    outline: none !important;
}

.btn-delivery:active,
.btn-delivery:focus {
    background-color: #426a9e;
    outline: none !important;
}

.smallS,
.smallQ,
.smallD,
.smallL {
    opacity: 0.7 !important;
}

.display-overall {
    text-align: center;
    background: #d9544f;
    /* float: right; */
    margin-right: 0px !important;
    margin: 0 auto;
    color: white;
    font-size: 15px;
    padding: 2px;
    font-weight: 700;
    width: 25px;
    border-radius: 6px;
    height: 25px;
}

@media only screen and (min-width: 500px) and (max-width: 769px) {
    .five-cols .col-md-1 {
        width: 40% !important;
        min-width: 360px;
    }

    .five-cols {
        display: inline-flex;
        overflow-x: scroll;
        max-width: 99vw;
    }

    .dashboard-set {
        min-height: 90vh !important;
    }
}

@media only screen and (max-width: 500px) {
    .dashboard-set {
        min-height: 0px !important;
    }

    .tab-set {
        display: block !important;
    }
}

@media only screen and (min-width: 769px) and (max-width:1025px) {
    .five-cols .col-md-1 {
        width: 40% !important;
        min-width: 315px;
    }

    .five-cols {
        display: inline-flex;
        overflow-x: scroll;
        max-width: 97vw;
    }

    .dashboard-set {
        min-height: 90vh !important;
    }
}

.btn:active,
.btn:focus {
    outline: none !important;
}

.modal-textarea {
    margin-top: 15px;
}

.view-comments {
    box-shadow: 0px 0px 5px 0px #8686862b;
    background-color: #f0f0f038;
    min-height: 50px;
    border-radius: 5px;
    margin-bottom: 6px;
    border: 1px solid #e6e6e6;
}

.comment-user-img {
    max-width: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

.comment-user {
    font-weight: 500;
    color: #013058;
}

.status-liked {
    background-color: #608fb9;
    color: #ffffff;
    font-size: 12px;
    /*		    width: 22px;*/
    height: 22px;
    border-radius: 2px;
    padding: 3px 6px;
    margin-right: 7px;
    float: right;
    margin-bottom: 0px;
}

.status-disliked {
    background-color: #d9544f;
    color: #ffffff;
    font-size: 12px;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    padding: 3px 6px;
    margin-right: 7px;
    float: right;
    margin-bottom: 0px;
}

.status-title {
    color: #20476a;
    padding: 4px 11px;
    font-size: 12.5px;
    background: white;
    float: right;
    height: 22px;
    border-radius: 2px;
    font-weight: 500;
    margin-bottom: 0px !important;
}

.comment-title {
    margin-bottom: 12px;
    display: inline-flex;
    width: 100%;
    align-items: flex-end;
    place-items: center;
    background: #1459941f;
    padding: 8px 12px;
}

.view-comments p {
    font-size: 12px;
    color: #4c4c4c;
    padding: 1px 10px;
}

.status-date {
    /*float: right;*/
    font-size: 10px;
    color: #585858;
}

.custom-tab-content .tab-pane {
    padding: 10px;
    margin-top: 10px;
}

.nav-item {
    width: 110px;
    text-align: center;
    /*border: 1px solid #bdbdbd;*/
    color: #9a9a9a;
    /*	    margin-right: 10px;
		    border-radius: 25px;*/
}

.nav-item.active .nav-link {
    color: #000000 !important;
    font-weight: 600;
    font-size: 13px;
    border-bottom: 2px solid #13cec3 !important;
}

.nav-link {
    background-color: #ffffff00 !important;
    border: none !important;
    color: #8c8c8c !important;
    font-size: 12px;
}

.svg-section {
    max-width: 200px;
    min-width: 190px;
}

.tab-set-saftey {
    display: grid;
    justify-content: center;
    padding: 20px;
    min-height: 270px;
    background-image: linear-gradient(to left top, #00b5aa, #06bdb2, #0dc5ba, #13cec3, #18d6cb);
    border-radius: 15px;
    min-width: 180px;
    text-align: center;
}

.tab-set-delivery {
    display: grid;
    justify-content: center;
    padding: 20px;
    min-height: 270px;
    background-image: linear-gradient(to right bottom, #6082b5, #597baf, #5174a9, #4a6da3, #42669d);
    border-radius: 15px;
    min-width: 180px;
    text-align: center;
}

.tab-set-quality {
    display: grid;
    justify-content: center;
    padding: 20px;
    min-height: 270px;
    background-image: linear-gradient(to right bottom, #01aced, #00a2e0, #0099d3, #008fc6, #0086b9);
    border-radius: 15px;
    min-width: 180px;
    text-align: center;
}

.tab-set-lean {
    display: grid;
    justify-content: center;
    padding: 20px;
    min-height: 270px;
    background-image: linear-gradient(to right bottom, #fdad36, #f8a52c, #f39c21, #ed9413, #e88b00);
    border-radius: 15px;
    min-width: 180px;
    text-align: center;
}

.tab-set {
    display: inline-flex;
    width: 100%;
    border-radius: 14px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

.tab-data-set {
    width: 100%;
    text-align: center;
    padding: 13px 22px 12px 20px;
}

.set-title {
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

.tab-data-set .ind-set-data {
    text-align: left;
}

.tab-img {
    min-width: 140px;
    max-width: initial;
}

.s-img {
    min-width: 90px !important;
}

.data-frame {
    min-width: 105px;
    background-color: #dde1e4;
    padding: 10px 10px 1px 10px;
    border-radius: 7px;
    margin-bottom: 12px;
}

.data-frame .ind-set-progress {
    margin: auto !important;
}

.data-frame-data {
    border-radius: 5px;
    background-color: #e6eaed;
    min-height: 80px;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
}

.data-frame span {
    color: #003058;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
}

.last-row .col-lg-6 .data-frame {
    margin-bottom: 0px;
}

.data-frame p {
    margin: 10px 0px !important;
    font-size: 12px;
    color: #003058;
}

.data-frame-date {
    font-size: 22px !important;
    line-height: 22px;
}

.data-frame-data .display-overall {
    margin: auto !important;
    font-size: 25px;
    height: 45px;
    width: 45px;
    padding: 4px 0px;
}

.tab-pane .btn-submit {
    margin: auto;
    display: block;
    margin-top: 20px;
}

.last-row .data-frame {
    margin-bottom: 0px !important;
}

.nav-tabs {
    border-bottom: 1px solid #dddddd85;
}

/*#view-ind-comment .modal-body,#saftey-modal .modal-body, #quality-modal .modal-body,#view-ind-comment .modal-body{
    		padding: 5px 15px !important;
    	}*/
.comment-user-detail {
    display: inline-grid;
    line-height: 11px;
    text-align: left;
    margin-left: 11px;
    margin-inline-end: auto;
}

.modal-footer {
    margin-top: 0px !important;
}

#tab-quality-2 select,
#tab-saftey-2 select,
#tab-delivery select {
    margin-bottom: 10px;
}

#tab-quality-1 .tab-data-set {
    padding: 15px 20px 15px 22px !important;
}

#tab-lean-1 .tab-data-set {
    padding: 14px 19px 11px 19px !important;
}

/*--- dashboard design --*/
/*---eqdcps navigation bar --*/
.eqdcps-navbar {
    background: #def2fd;
    padding: 10px 5px;
    /*width: 100vw;*/
    overflow-x: auto;
}

.btn-eqdcps {
    border-radius: 50px;
    color: #51a3df !important;
    font-weight: 700 !important;
    border: 1px solid #51a3df;
    margin-right: 4px;
    height: 35px;
    background: #e9f3fc;
    width: 102px;
    font-size: 11px;
}

.btn-nav {
    /*display: inline-flex;*/
    width: intrinsic;
    /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;
    /* Firefox/Gecko */
    width: -webkit-max-content;
    /* Chrome */
    width: max-content;
    overflow-x: auto;
}

.btn-eqdcps:hover,
.btn-eqdcps:focus,
.btn-eqdcps:active {
    background-color: #2683c6;
    color: #ffffff !important;
}

.btn-nav .dropdown-menu {
    width: 80vw;
    min-height: 190px;
    border: 10px solid white;
    background: #f3fcfc;
    left: 6px;
    box-shadow: 0px 0px 4px #b5b5b5ec;
    margin-top: 5px;
    padding: 10px 20px !important;
}

.dropdown-title label {
    font-size: 14px;
    padding: 0px 9px;
    width: 150px;
    border-radius: 6px;
    color: #14d1c6 !important;
}

.nav-set {
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    max-width: 150px;
}

.nav-set i {
    color: #ffffff;
    font-size: 6em;
}

.nav-set label {
    margin: 10px 0px 0px 0px;
    display: block;
    color: #ffffff !important;
    font-size: 15px;
}

.saftey-nav-set {
    background-image: linear-gradient(#19d8cd, #00b5aa);
}

.nav-block {
    background: #f7f7f7;
    color: #003058;
    padding: 4px 15px;
    border-radius: 5px;
    border: 1px solid #00305812;
    height: 45px;
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.nav-block label {
    margin-bottom: 0px !important;
    font-size: 12px;
}

.nav-right-set {
    float: right;
    background: #ffffff;
    border-radius: 6px;
    text-align: right;
    width: 145px;
}

.nav-right-set i {
    padding: 10px;
    background: #ababab;
    border-radius: 4px;
    color: white;
    margin-left: 4px;
}

/*---eqdcps navigation bar --*/
/*--- she section design --*/
.she-panel {
    padding: 10px;
    margin-top: 15px;
    background: white;
    border-radius: 5px;
    background-image: linear-gradient(#19d8cd, #00b5aa);
}

.quality-panel {
    padding: 10px;
    margin-top: 15px;
    background: white;
    border-radius: 5px;
    background-image: linear-gradient(#2CABE2, #006AA0);
}

.s-set {
    padding: 10px;
    border-radius: 4px;
}

.she-panel img {
    max-width: 150px !important;
    margin: auto;
    display: block;
}

.quality-panel img {
    max-width: 200px !important;
    margin: auto;
    display: block;
}

.data-detail-panel {
    border-radius: 5px;
}

.data-detail-panel span {
    font-size: 13px;
    color: #ffffff;
}

.she-panel hr {
    border-top: 1px solid #e6e6e6 !important;
    margin: 4px 0px 4px 0px;
}

.details-set {
    margin-bottom: 8px;
    padding: 6px;
    background: #ffffff4d;
    border-radius: 6px;
}

.details-set:last-child {
    margin-bottom: 0px;
}

.badge-s-display {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-flex;
    margin: -2px 12px 0px 0px;
    vertical-align: middle;
    box-shadow: 0px 0px 2px 0px #c1c1c1;
    border: 1px solid #ffffff;
}

.badge-no-accidents {
    background-color: #5dbb46;
}

.badge-minor-accidents {
    background-color: #f5d209;
}

.badge-near-miss {
    background-color: #337ab7;
}

.badge-major-accidents {
    background-color: #dd0716;
}

.badge-holiday {
    background-color: #ffffff;
}

.table-permit th {
    text-align: left !important;
}

.table-permit td input::placeholder {
    font-size: 12px;
}

.she-panel-table {
    padding: 0px !important;
    background-color: #ffffff;
    margin-top: 20px;
}

.snr-input {
    display: inline-flex;
    margin-left: 5px;
}

.snr-input p {
    margin: 0px 15px 0px 15px;
    font-size: 23px;
    color: #7b7b7b;
    font-weight: 500;
}

.table-permit .row {
    margin: 0px !important;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
}

/*        .table-permit input{
        	min-width: 220px !important;
        }*/
.data-detail-panel.row {
    margin: 10px 0px 0px 0px;
}

.btn-add-row,
.btn-table-submit {
    float: right;
    margin: 10px;
}

.btn-add-row i {
    margin-right: 5px;
}

.svg-panel img {
    width: 95% !important;
    min-width: 500px !important;
    margin: auto;
    display: block;
}

.dropdown-menu {
    top: unset !important;
    position: absolute;
}

.s-set label {
    color: #ffffff !important;
    font-size: 20px;
}

.svg-panel {
    /*min-height: 80vh;*/
    height: 485px;
    display: flex;
    overflow: auto;
}

.eqdcps-date {
    float: right;
    margin-bottom: 10px;
}

.eqdcps-date .btn-dash-date {
    height: 33px;
}

.table-quality {
    margin-top: 15px;
    background-color: white;
}

/*--- she section design --*/
/*--- Login page style ---*/
.login-imgs {
    display: block;
    margin: auto;
}

/*--- Login page style ---*/
/*--- table filter style ---*/
.table-filter {
    padding: 10px 30px;
}

.table-filter:hover {
    background-color: white !important;
}

.table-filter button,
.table-filter input,
.table-filter select,
.table-filter textarea {
    border: 1px solid #dcdcdc;
    font-size: inherit;
    background: #f5f5f582;
    line-height: inherit;
    padding: 8px 20px;
    height: 36px;
    color: #2a2a2a;
    border-radius: 4px;
    width: 100%;
}



.table-filter button:focus,
.table-filter input:focus,
.table-filter select:focus,
.table-filter textarea:focus {
    outline: none !important;
    background: #fbfbfb;
    border: 1px solid #145994ad;
}

.clear-filter {
    background: #5bc0de;
    /* border: 1px solid #e95050 !important; */
    color: #ffffff !important;
    width: 95%;
    padding: 9.5px;
    font-size: 11px;
}

.t-pointer{
    cursor: pointer;
}
.dp-pagination-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 16px;
        }

        .dp-table {
            border-bottom: 1px solid #ddd;
        }

        .page-right-pagination nav ul {
            padding: 5px;
            background: #8080800f;
            border-radius: 0px;
        }

        .page-right-pagination nav ul li a {
            border: none;
            background: #80808000;
            color: #000000a1;
            transition: all 0.4s;
            border-radius: 0px;
        }

        .page-right-pagination nav ul li a:hover {
            color: white;
            background: #2fa9f3;
            border-radius: 0px;
            box-shadow: rgb(47 169 243 / 58%) 0px 4px 6px -1px, rgb(47 169 243 / 14%) 0px 2px 4px -1px;
        }
/*--- table filter style ---*/
/*--- navigation dropdown ---*/
        .navbar-nav li.dropdown .dropdown-menu{
            padding: 0px !important;
            background: #ffffff;
            border-radius: 0px;
            border: none;
            width: calc(100% + 100px);
        }
        .navbar-nav .dropdown-menu li a{
            padding:15px 10px !important;
            color:#5b5b5b !important;
            transition-duration: 0.2s;
            border-bottom:1px solid #5b5b5b38;
            font-size: 12px;
        }
        .navbar-nav .dropdown-menu li a:hover{
            border-left: 5px solid #55ace1;
            /*background-color: #ff000000 !important;*/
        }
        .dropdown.open .caret{
            transform: rotate(180deg);
            transition-duration: 0.5s;
        }
        .page-left-info{
            margin: 20px 0px;
        }
        #myNavbar .dropdown .dropdown-menu{
            animation-name: trial;
            animation-duration: 0.3s;
        }
        @keyframes trial{
        0% {
            transform: translateY(-20px)
        }
        100% {
            transform: translateY(0px)
        }
        
    }
/*--- navigation dropdown ---*/