{% extends 'base.html.twig' %}

 

{% block body %}
    <head>
        <title>Data point</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/custom-style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="{{ asset('js/custom-js.js') }}"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    </head>
<body>
        <div class="top-bar-sec">
            <div class="container-fluid">
                <div class="logo-brand">
                    <div class="trp-logo">
                        <img src="{{ asset('images/trp.png') }}" >
                    </div>
                    <div class="data-point-logo">
                        <img src="{{ asset('images/data_point-logo.png') }}" >
                    </div>
                </div>
            </div>
        </div>
        <!-- datapoint nav -->
        <div class="datapoint-topnav">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li >
                                <a href="#">
                                <i class="fa fa-clock-o">
                                </i>
                                Dashboard
                                </a>
                            </li>
                            <li >
                                <a href="#">
                                <i class="fa fa-eye">
                                </i>
                                Overview
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-globe">
                                </i>
                                Datasheets <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">1</a></li>
                                </ul>
                            </li>
                            <li >
                                <a href="#">
                                <i class="fa fa-clock-o">
                                </i>
                                Data
                                </a>
                            </li>
                            <li >
                                <a href="#">
                                <i class="fa fa-suitcase">
                                </i>
                                Projects
                                </a>
                            </li>
                            <li >
                                <a href="#">
                                <i class="fa fa-folder-open">
                                </i>
                                Eqdcp
                                </a>
                            </li>
                            <li >
                                <a href="#">
                                <i class="fa fa-upload">
                                </i>
                                File Upload
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-wrench">
                                </i>
                                Settings <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">1</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-folder-open">
                                </i>
                                Reports <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">1</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-folder-open">
                                </i>
                                Shifts Notes <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">1</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user">
                                </i>
                                Admin <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">1</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- datapoint-nabar -->
        <div class="bowling-chart">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="chart-name">
                        <h3>Quad Chart</h3>
                    </div>
                    <div class="title-right">
                        <button class="btn btn-info add-project" id="new_chart_modal" data-toggle="modal" data-target="#add-new-chart"><i class="fa fa-plus"></i>Create new chart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid main-plain" >
            <div class="container-fluid m-2">
                 <div class="t-title x-matrix-title">
                    <label>X- Matrix</label>
                    <div class="title-right">
                        <button class="btn btn-info add-project" data-toggle="modal" data-target="#add-x-matrix-data"><i class="fa fa-plus"></i>Add Data</button>
                    </div>
                </div>
                <div class="table-responsive table-x-matrix" id="xMatrixTable">
                    <table class="table table-bordered table-x"> 
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>         
    
        <div id="add-x-matrix-data" class="modal fade" role="dialog">
            
        </div>   
        <div id="add-new-chart" class="modal fade" role="dialog">
            
        </div>  
        <script type="type/template" id='templateMatrixSections'>
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <form id="xmatrixForm" name="xmatrixForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h5 class="modal-title t-title" id=""><i class="fa fa-plus"></i>Add Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="nav-section">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                            <% if(_.size(data)) { %>
                                    <% sectionArray=['top','left','right','bottom','user']; %>
                                    <% _.each(sectionArray, function(sectionKey, i){  %>
                                            <% sections=data[sectionKey];
                                    activeClass=(sectionKey=='top')?'active':'';
                                    %>
                                             <li class="nav-item <%- activeClass %>">
                                                 <a class="nav-link" data-toggle="tab" href="#tab_<%- sections.type %>" role="tab" aria-expanded="false"><%- sections.name+' ( '+sections.type+' )' %></a>
                                             </li> 
                                     <% }); %>
                            <% } else { %>
                                    
                                    <% sectionArray=['top','left','right','bottom','user']; %>
                                    <% _.each(sectionArray, function(sectionKey, i){  %>
                                            <% sections=data[sectionKey];
                                    activeClass=(sectionKey=='top')?'active':'';
                                    %>
                                             <li class="nav-item <%- activeClass %>">
                                                 <a class="nav-link" data-toggle="tab" href="#tab_<%- sectionKey %>" role="tab" aria-expanded="false"><%- sectionKey+' Data'+ ' ( '+sectionKey+' )' %></a>
                                             </li> 
                                     <% }); %>
                                <% } %>
                            </ul>
                            <div class="tab-content custom-tab-content">
                                <% if(_.size(data)) { var c=0; %>
                                        <input type="hidden" value="{{ matrixID }}" data-key="formdata.chart_id">
                                    <% _.each(sectionArray, function(sectionKey, i){  %>
                                    <% sections=data[sectionKey]; 
                                        activeClass=(sectionKey=='top')?'active':'';%>
                                        <div class="tab-pane <%- activeClass %>" id="tab_<%- sections.type %>" role="tabpanel">
                                        <input type="hidden" value="<%- sections.id %>" data-key="formdata.section_data.<%- i %>.id">
                                         <input type="hidden" value="<%- sections.type %>" data-key="formdata.section_data.<%- i %>.type">
                                            <div class="input-group form-group">
                                                <input id="<%- sections.type %>_name" type="text" data-key="formdata.section_data.<%- i %>.name" class="form-control" name="<%- sections.type %>_name" placeholder="<%- sections.name %>"  value="<%- sections.name %>">
                                                <span class="input-group-addon">
                                                    <button type="button"  class="btn add-kpi" data-section="<%- sections.type %>"><i class="fa fa-edit"></i></button>
                                                </span>
                                            </div>
                                            <div class="x-list-set">
                                                <div class="input-group form-group">
                                                    <select class="form-control select-kpi" id="select_kpi_<%- sections.type %>" data-type="<%- sections.type %>" data-section_index="<%- i %>">
                                                       <option value="" data-kpi_id="">Select</option>
                                                       <% _.each(sampleDataArray, function(val, i){   %> 
                                                        <option value="<%- val.id %>" data-kpi_id="<%- val.id %>"> <%- val.label %></option>
                                                        <% }); %>
                                                        
                                                    </select>
                                                    <span class="input-group-addon">
                                                        <button type="button"  class="btn add-kpi-btn" id="kpi_<%- sections.type %>" name="kpi_<%- sections.type %>"><i class="fa fa-plus"></i></button>
                                                    </span>
                                                </div>
                                                <div id="sectionKPIs_<%- sections.type %>">
                                                    <ul class="x-selected-data" id="tabul_<%- sections.type %>">
                                                    <% _.each(sections.data, function(kpis, j){ %>
                                                       <%  var html = LtsMain.renderHtml('templateMatrixRows', {data: kpis,i:i}); %>
                                                        <%= html %>
                                                    <% }); %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>           
                                    <% }); c+=1; %>
                                <% } else { %>
                                        <% sectionArray=['top','left','right','bottom','user']; %>
                                     <% _.each(sectionArray, function(sectionKey, i){  %>
                                    <% sections=data[sectionKey]; 
                                        activeClass=(sectionKey=='top')?'active':'';%>
                                        <div class="tab-pane <%- activeClass %>" id="tab_<%- sectionKey %>" role="tabpanel">
                                            <div class="input-group form-group">
                                                <input id="<%- sectionKey %>_name" type="text" class="form-control" name="<%- sectionKey %>_name" placeholder="<%- sectionKey %>" >
                                                <span class="input-group-addon">
                                                    <button type="button" class="btn add-kpi" data-section="<%- sectionKey %>"><i class="fa fa-edit"></i></button>
                                                </span>
                                            </div>
                                            <div class="x-list-set">
                                                <div class="input-group form-group">
                                                    <select class="form-control select-kpi" id="select_kpi_<%- sectionKey %>" data-type="<%- sectionKey %>" data-section_index="0">
                                                       <% _.each(sampleDataArray, function(val, i){   %> 
                                                        <option value="<%- val.id %>"> <%- val.label %></option>
                                                        <% }); %>
                                                    </select>
                                                    <span class="input-group-addon">
                                                        <button type="button" class="btn add-kpi-btn" id="kpi_<%- sectionKey %>" name="kpi_<%- sectionKey %>"><i class="fa fa-plus"></i></button>
                                                    </span>
                                                </div>
                                                <div id="sectionKPIs_<%- sectionKey %>">
                                                    <ul class="x-selected-data" id="tabul_<%- sectionKey %>">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>           
                                    <% }); %>
                                <% } %>
                            </div>   
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info" id="save" name="save">Save Changes</button>
                    </div>
                </div>
                    </form>
            </div>
        </script>
        
        
        <script type="type/template" id='templateNewChartModal'>
<div class="modal-dialog modal-lg">
    <form id="xmatrixForm" name="xmatrixForm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h5 class="modal-title t-title" id=""><i class="fa fa-plus"></i>Add Chart</h5>
            </div>
            <div class="modal-body">
                    <div class="form-group ">
                        <label for="name">Chart Name &nbsp<span class="text-danger">*</label>
                        <input type="text" name="chart_name" id="chart_name" placeholder="Enter chart name" value="" class="form-control" required>
                    </div>    
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="save_new_chart" name="save_new_chart">Add</button>
            </div>
        </div>
    </form>
</div>
    </script>
        
        <script type="type/template" id='templateMatrixRows'>
            <% if(data.label!=''){ %>
        <li data-kpi_id="<%- data.kpi_id %>">
        <% var id=data.id==''?'new_'+moment().unix():'edit_'+data.id; %>
        <input type="hidden" value="<%- data.id %>" data-key="formdata.section_data.<%- i %>.data.<%- id %>.id" >
        <input type="hidden" value="<%- data.label %>" data-key="formdata.section_data.<%- i %>.data.<%- id %>.kpi_label">
        <input type="hidden" value="<%- data.kpi_id %>" data-key="formdata.section_data.<%- i %>.data.<%- id %>.kpi_id">
        <input type="hidden" id ="<%- id %>_is_delete" value="0" data-key="formdata.section_data.<%- i %>.data.<%- id %>.is_deleted">
            <p><%- data.label %></p>
            <button  class="remove-x-li " data-id="<%- id %>" type="button" id="remove_li_<%- id %>" name="remove_li_<%- id %>">
                   <i class="fa fa-trash-o"></i>
            </button>
            <button class="refresh-x-li hidden" data-id="<%- id %>" type="button" id="refresh_li_<%- id %>" name="refresh_li_<%- id %>">
                   <i class="fa fa-refresh"></i>
            </button>
        </li>
        <% } %>
        </script>
        
    <script type="type/template" id='templateMatrix'>
<%     var isDisplayed=0;
             var r=0;
       var c=0;
%>
<% _.each(rows, function(row, i){ %>        
        <% r+=1; %>
<tr class="set1">
        <% c=0; %>
    <% _.each(columns, function(column, i){ %>
            <% c+=1; %>
          <%  if(_.size(row)==0 && _.size(column)==0){ %>
    <td colspan="" class="center-data">
                            <div class="center-data">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:#ffa6a6;}
                                    .st1{fill:#8bc0ed;}
                                    .st2{fill:#e7e78a;}
                                    .st3{fill:#9ee49e;}
                                </style>
                                <polygon class="st0" points="400,0 400,400 200,200 "/>
                                <polygon class="st1" points="400,0 200,200 0,0 "/>
                                <polygon class="st2" points="200,200 0,400 0,0 "/>
                                <polygon class="st3" points="400,400 0,400 200,200 "/>
                                <line class="st2" x1="0" y1="0" x2="400" y2="400"/>
                                <line class="st2" x1="400" y1="0" x2="0" y2="400"/>
                                <text transform="matrix(1 0 0 1 200.168 66.8521)" font-family="'MyriadPro-Regular'" font-size="12px">
                                <tspan x="0" y="20"><%- data.top.name %></tspan></text>
                                <text transform="matrix(1 0 0 1 320.7236 198.2219)" font-family="'MyriadPro-Regular'" font-size="12px">
                                <tspan x="0" y="20"> <%- data.right.name %></tspan>
                                </text>
                                <text transform="matrix(1 0 0 1 197.168 321.4445)" font-family="'MyriadPro-Regular'" font-size="12px">
                                    <tspan x="0" y="20"> <%- data.bottom.name %></tspan>
                                </text>
                                <text transform="matrix(1 0 0 1 84.6125 193.2222)" font-family="'MyriadPro-Regular'" font-size="12px">
                                    <tspan x="0" y="20"><%- data.left.name %></tspan>
                                </text>
                                </svg>
                            </div>
                        </td>   
            
    <% } else if(_.size(column)==0){ %> 
    <td class="t-data" data-row="<%- completeRowData[r-1]['id']%>" data-column="<%- completeColumnData[c-1]['id']%>">
        <div class="t-data-descr">
            <div class="t-descr">
                <span> <%- row.label %>
                </span>
            </div>
            <div class="status-div">
                <i class="fa fa-caret-up t-data-profit"></i>
            </div>
        </div>
    </td>
    <% }else if(_.size(row)==0){ %> 
            <% if( c > ((rishtsideDataCount + leftDataCount))+1) { %>
                <td class="v-data" data-row="<%- completeRowData[r-1]['id']%>" data-column="<%- completeColumnData[c-1]['id']%>">
                    <div class="t-data-descr t-data-descr-2">
                        <div>
                            <span><%- column.label %>
                            </span>
                        </div>
                    </div>
                </td>
            <% } else { %>
                <td class="v-data">
                    <div class="t-data-descr">
                        <div class="t-descr">
                            <span> <%- column.label %>
                            </span>
                        </div>
                        <div class="status-div">
                            <i class="fa fa-caret-up t-data-profit"></i>
                        </div>
                    </div>
                </td>
                <% } %>
    <% } else { %>
    <% if((r > (topDataCount + 1)) && (c > (leftDataCount + 1))) { %>
            <% if(isDisplayed < 1) { %>
                        <td rowspan="<%- bottomDataCount %>" colspan="<%- rishtsideDataTotalCount %>" class="key-section">
                            <div class="t-key-set">
                                <div class="key-head">
                                    <label>Keys</label>
                                </div>
                                <div class="t-key-desc">
                                    <div class="t-key">
                                        <i class="fa fa-circle casual-rel"></i>
                                        <span>Casual Relationship</span>
                                    </div>
                                    <div class="t-key">
                                        <i class="fa fa-circle pri-rel"></i>
                                        <span>Primary Responsibility- Global</span>
                                    </div>
                                    <div class="t-key">
                                        <i class="fa fa-circle pri-rel-reg"></i>
                                        <span>Primary Responsibility- Regional</span>
                                    </div>
                                    <div class="t-key">
                                        <i class="fa fa-adjust pri-rel"></i>
                                        <span>Secondary Responsibility- Global</span>
                                    </div>
                                    <div class="t-key">
                                        <i class="fa fa-adjust pri-rel-reg"></i>
                                        <span>Secondary Responsibility- Regional</span>
                                    </div>
                                </div>                                                     
                            </div>
                        </td>
            <% isDisplayed=1; %>
            <% } %>
          <% } else { %>     
                  <% var connectionClass=_.size(_.filter(data.connections, {row:completeRowData[r-1]['id'] , column: completeColumnData[c-1]['id']}))>0 ? 't-status casual-rel': '' %>
                <td class="t-cell t-pointer <%- connectionClass %>" title="<%- (connectionClass) ?'Click here to remove connection': 'Click here to add connection' %>" data-row="<%- completeRowData[r-1]['id']%>" data-column="<%- completeColumnData[c-1]['id']%>">
                <%= (connectionClass) ? '<i class="fa fa-circle"></i>' : ''%>
                </td>
             <% } %>
    <% } %>
    <% }); %>
</tr>
<% }); %>
    </script>
    <script type="text/javascript" src="{{ asset('js/custom-js.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/matrix.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
    <script type="text/javascript"> 
        $("#datepicker").datepicker({
         format: "yyyy",
         viewMode: "years", 
         minViewMode: "years"
        });
    </script>
    <script type="text/javascript">
        var opt = {
            data:{{data|json_encode()|raw}},
            matrix_id:{{ matrixID }},
        };
        var LtsMatrixObj = new LtsMatrix(opt);
                    LtsMatrixObj.init();
    </script>
    </body>
{% endblock %}
